<!DOCTYPE html>

<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
                {{>header}}
                <p>Created by {{name}}</p>
                <img class="portrait" src="/img/o.jpg" alt="">
         </div>


        {{>footer}}
    </body>
</html>